openapi: 3.0.3
info:
  title: Real-Time Speech Translation API
  description: >
    API specification for the TaleOversaet platform. Handles REST requests
    for dashboard, settings, transcripts, and session management.
    (Real-time audio and live transcription are handled over WebSockets after a session is created.)
  version: 0.2.0
  contact:
    name: Jon Jakobsen
servers:
  - url: 'https://api.taleoversaet.dk/v1'
    description: Production server
  - url: 'http://localhost:8080/v1'
    description: Local development server
security:
  - bearerAuth: []

paths:
  /auth/token:
    post:
      summary: Issue runtime access token
      description: >
        Issues a short-lived, session-bound access token for the frontend runtime provisioning flow.
        The token may only be used through an AUTH control message on WebSocket and must never be transported in a query string.
      tags:
        - Auth
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueTokenRequest'
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenIssueResponse'
        '401':
          description: Unauthorized token request
        '429':
          description: Too many token requests

  /dashboard/stats:
    get:
      summary: Get dashboard statistics
      description: Returns a KPI snapshot for the user's dashboard.
      tags:
        - Dashboard
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStats'

  /activity-stream:
    get:
      summary: Get activity stream
      description: Returns the latest events for the right-hand sidebar.
      tags:
        - Dashboard
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'

  /demo/capabilities:
    get:
      summary: Get unified gateway capabilities
      description: Returns a gateway capability snapshot for source/target languages, eligible language pairs, and voice selection per target language.
      tags:
        - Settings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  source_languages:
                    type: array
                    items:
                      type: string
                  target_languages:
                    type: array
                    items:
                      type: string
                  language_pairs:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                        target:
                          type: string
                  voices_by_target_language:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string

  /settings:
    get:
      summary: Get user settings
      tags:
        - Settings
      responses:
        '200':
          description: The user's global language and ML settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
    put:
      summary: Update user settings
      tags:
        - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Settings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'

  /sessions:
    get:
      summary: Get previous sessions
      tags:
        - Sessions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
    post:
      summary: Create new real-time session
      description: >
        Creates a new session (two-way or conference) and returns
        a WebSocket URL (wss://) that the frontend must connect to for streaming.
        The URL must not contain credentials; the runtime token is issued separately and sent via an AUTH control message.
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionConnectionResponse'

  # ===== NEW ENDPOINT FOR FR-005 (AUDIO UPLOAD) =====
  /sessions/{sessionId}/audio:
    post:
      summary: Upload audio file to session
      description: Alternative to streaming. Uploads a pre-recorded audio file for batch processing (FR-005).
      tags:
        - Sessions
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Audio file to translate (for example .wav or .mp3).
      responses:
        '202':
          description: Audio accepted and queued for processing
  /sessions/{sessionId}/join:
    post:
      summary: Join an existing session
      description: Allows Person B to join Person A's active session through an invitation link.
      tags:
        - Sessions
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful join
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionConnectionResponse'
  # ================================================

  /transcripts:
    get:
      summary: Get saved transcripts
      tags:
        - Transcripts
      parameters:
        - name: search
          in: query
          description: Search term used to filter transcripts
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transcript'

  /transcripts/{id}/export:
    get:
      summary: Export transcript
      tags:
        - Transcripts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [txt, pdf]
            default: txt
      responses:
        '200':
          description: Binary file (text or PDF)
          content:
            text/plain:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary

  /team:
    get:
      summary: Get team members
      tags:
        - Team
      responses:
        '200':
          description: List of team users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'

  /team/invite:
    post:
      summary: Invite new member
      tags:
        - Team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '204':
          description: Invitation sent

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    IssueTokenRequest:
      type: object
      required:
        - grantType
        - sessionId
        - participantRole
      properties:
        grantType:
          type: string
          enum: [session]
          default: session
        sessionId:
          type: string
          description: Session the token is bound to. Query-string transport is forbidden.
          example: "sess_98765"
        participantRole:
          type: string
          enum: [HOST, GUEST]
          description: Role-bound token used to prevent privilege escalation between participants.

    TokenIssueResponse:
      type: object
      required:
        - accessToken
        - tokenType
        - expiresIn
        - expiresAt
        - sessionId
        - transportMode
      properties:
        accessToken:
          type: string
          example: "eyJhbGciOi..."
        tokenType:
          type: string
          enum: [Bearer]
          example: "Bearer"
        expiresIn:
          type: integer
          description: Token lifetime in seconds.
          example: 300
        expiresAt:
          type: string
          format: date-time
          description: Absolute expiration time for the short-lived runtime token.
          example: "2026-03-17T18:45:00Z"
        sessionId:
          type: string
          description: Session the token is cryptographically bound to.
          example: "sess_98765"
        transportMode:
          type: string
          enum: [AUTH_CONTROL_MESSAGE]
          description: The token may only be sent in an AUTH control message after the WebSocket connection is established.
        jti:
          type: string
          description: Token identity correlation for revocation and telemetry.
          example: "jti-abc-123"

    DashboardStats:
      type: object
      required:
        - translatedHoursThisMonth
        - savedTranscriptsCount
        - topLanguagePair
      properties:
        translatedHoursThisMonth:
          type: number
          format: float
          example: 24.5
        savedTranscriptsCount:
          type: integer
          example: 128
        topLanguagePair:
          type: object
          properties:
            source:
              type: string
              example: "da-DK"
            target:
              type: string
              example: "en-US"

    UserBasic:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        avatarUrl:
          type: string

    Activity:
      type: object
      required:
        - id
        - type
        - message
        - timestamp
      properties:
        id:
          type: string
        type:
          type: string
          enum: [SESSION_STARTED, TRANSCRIPT_SAVED, SETTINGS_UPDATED, USER_JOINED]
        user:
          $ref: '#/components/schemas/UserBasic'
        message:
          type: string
          example: "started a live two-way session"
        timestamp:
          type: string
          format: date-time

    Voice:
      type: object
      required:
        - id
        - name
        - gender
      properties:
        id:
          type: string
          example: "da-male-1"
        name:
          type: string
          example: "Danish Male 1"
        gender:
          type: string
          enum: [male, female, neutral]

    Language:
      type: object
      required:
        - code
        - name
        - voices
      properties:
        code:
          type: string
          example: "da-DK"
        name:
          type: string
          example: "Danish"
        voices:
          type: array
          items:
            $ref: '#/components/schemas/Voice'

    Settings:
      type: object
      required:
        - defaultSourceLanguage
        - defaultTargetLanguage
        - useDomainDictionary
        - autoDetectLanguageSwitch
      properties:
        defaultSourceLanguage:
          type: string
          example: "da-DK"
        defaultTargetLanguage:
          type: string
          example: "en-US"
        useDomainDictionary:
          type: boolean
          example: true
          description: Use a specialized IT/software glossary
        autoDetectLanguageSwitch:
          type: boolean
          example: true

    CreateSessionRequest:
      type: object
      required:
        - type
        - sourceLanguage
        - targetLanguage
      properties:
        type:
          type: string
          enum: [TWO_WAY, CONFERENCE]
        sourceLanguage:
          type: string
          example: "da-DK"
        targetLanguage:
          type: string
          example: "en-US"
        voiceId:
          type: string
          description: TTS voice ID (if relevant for the receiving participant)

    SessionConnectionResponse:
      type: object
      required:
        - sessionId
        - websocketUrl
        - status
        - authMode
        - tokenEndpoint
        - sessionBindingRequired
      properties:
        sessionId:
          type: string
        websocketUrl:
          type: string
          format: uri
          description: Credentials must not appear in the URL. The runtime token is sent separately via an AUTH control message.
          example: "wss://api.taleoversaet.dk/ws/sessions/sess_98765"
        status:
          type: string
          enum: [INITIALIZED, ACTIVE, FAILED]
        authMode:
          type: string
          enum: [AUTH_CONTROL_MESSAGE]
          description: WebSocket authentication is performed after connect via an AUTH control message.
        tokenEndpoint:
          type: string
          example: "/auth/token"
          description: Endpoint used to issue short-lived runtime tokens.
        sessionBindingRequired:
          type: boolean
          example: true
          description: Indicates that the runtime token is bound to the returned session.

    Session:
      type: object
      required:
        - id
        - type
        - startDate
        - durationSeconds
        - sourceLanguage
        - targetLanguage
      properties:
        id:
          type: string
        type:
          type: string
          enum: [TWO_WAY, CONFERENCE]
        startDate:
          type: string
          format: date-time
        durationSeconds:
          type: integer
        sourceLanguage:
          type: string
        targetLanguage:
          type: string
        transcriptId:
          type: string
          nullable: true

    Transcript:
      type: object
      required:
        - id
        - title
        - date
        - sourceLanguage
      properties:
        id:
          type: string
        title:
          type: string
        date:
          type: string
          format: date-time
        sourceLanguage:
          type: string

    TeamMember:
      type: object
      required:
        - id
        - name
        - role
      properties:
        id:
          type: string
        name:
          type: string
        avatarUrl:
          type: string
        role:
          type: string
          enum: [ADMIN, DEVELOPER, VIEWER]